body {
   margin: 0;
   font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #E7F6FF;
}

* {
   font-family: 'Inter', sans-serif;
}

.wrapper {
   background: #fff;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
   border-radius: 20px;
   max-width: 1080px;
   margin: 50px auto;
}

header {
   border-bottom: 1px solid #EAEAEA;

   img {
      margin-right: 15px;
   }

   h3,
   p {
      margin: 0;
   }

   p {
      color: #9D9D9D;
   }
}

.content {
   
   h1 {
      margin: 0;
   }

   .sneakerContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   }

   .search_sneakers {
      width: 250px;
      height: 45px;
      border: 1px solid #F3F3F3;
      border-radius: 10px;

      input {
         border: 0;
         font-size: 16px;
         line-height: 17px;
         width: 200px;

         &::placeholder {
            color: #C4C4C4;
         }
      }
   }

}

.cartTotalBlock {
   ul {
       display: block;
       margin-bottom: 30px !important;

       li {
           display: flex;
           align-items: flex-end;
           margin-bottom: 20px;
       }

       div {
           flex: 1;
           height: 1px;
           border-bottom: 1px dashed #dfdfdf;
           position: relative;
           top: -4px;
           margin: 0 7px;
       }
   }

   .greenButton {
       position: relative;

       &:disabled {
           animation: button-loading 0.7s ease-in-out infinite;
       }

       &:hover {
           img {
               transform: translateX(5px);
           }
       }

       img {
           position: absolute;
           right: 40px;
           top: 22px;
           transition: transform 0.15s ease-in-out;
       }
   }

}

.cart_item {
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   overflow: hidden;
   padding: 20px;

   .cartItemImg {
       height: 70px;
       width: 70px;
       background-size: contain;
       background-position: 0 -3px;
       background-repeat: no-repeat;
       margin-right: 20px;
   }

   p {
       margin: 0;
       font-size: 16px;
   }

   b {
       font-size: 14px;
   }

   .removeBtn {
       opacity: 0.5;
       cursor: pointer;
       transition: opacity .15s ease-in-out;

       &:hover {
           opacity: 1;
       }
   }
}

.cartEmpty {
   text-align: center;

   p {
       width: 280px;
       line-height: 24px;
   }

   .greenButton {
       width: 245px;
       margin-top: 20px;

       &:disabled {
           background-color: #bebebe !important;
           cursor: default;
       }

       &:hover {
           img {
               transform: rotate(180deg) translateX(3px);
           }
       }

       img {
           position: relative;
           top: 1px;
           transform: rotate(180deg);
           margin-right: 15px;
           transition: transform 0.15s ease-in-out;
       }
   }
}

.greenButton {
   width: 100%;
   height: 55px;
   border: none;
   background: #9DD558;
   border-radius: 18px;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   transition: background 0.1s ease-in-out;

   &:hover {
      background: lighten(#9DD558, 5%);
   }

   &:active {
      background: darken(#9DD558, 5%);
   }
}

@keyframes button-loading {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.7;
   }
   100% {
      opacity: 1;
   }
}